<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Provide you links which are instagram of developer">
    <title>Developers's instagram</title>
    <style>
      ul {
        list-style: none;
        padding: 0;

      }

      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
      }

      a:hover {
        outline: 2px solid red;
      }
    </style>
  </head>

  <body>
    <ul>
      <li><a href="#">조유찬의 insta</a></li>
      <li><a href="#">이서인의 insta</a></li>
      <li><a href="#">문효재의 insta</a></li>
      <li><a href="#">정다운의 insta</a></li>
    </ul>
  </body>

</html>