<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/assets/favicon.svg">
    <link rel="stylesheet" href="../static/css/adminLogin.css">
    <script src="../static/src/admin/adminLogin.js" type="module"></script>
    <title>관리자 로그인</title>
</head>
<body>
    <div class="login-container">
        <h1>관리자 로그인</h1>
        <input type="password" id="password" placeholder="비밀번호를 입력하세요" />
        <button id="loginButton">로그인</button>
    </div>
</body>
</html>
