<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="letYuchan, guapa0girl">
    <meta name="description" content="This service is a blind date site where you can find out the other person's information through random cards and develop into lovers through contact.">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/cardWriting.css">
    <link rel="shortcut icon" href="../static/assets/teamLogo.svg">
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <script src="../static/src/cardWriting/changeAnimalImg.js" type="module"></script>
    <script src="../static/src/cardWriting/submit.js" type="module"></script>
    <script src="../static/src/cardWriting/changeColor.js" type="module"></script>
    <script src="../static/src/cardWriting/modal.js" type="module"></script>
    <title>Card Writing(카드작성)</title>
</head>
<body>
    <script src="../static/src/login/univ_api.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            checkAuth(); 
        });
    </script>
    <header id="header" aria-label="title, logo">
        <div class="header__dev-container">
            <img class="header__img" src="../static/assets/teamLogo.svg" alt="학교로고">
            <h1 class="header__title">명함소개팅</h1>
        </div>
    </header>
    <main id="main" aria-label="writting card">
        <form class="form-container" method="post">
            <img class="form_image" src="../static/assets/1.cuteDog.png" alt="동물이미지">
            <div class="form_info">
                <div class="form_row">
                    <label>성별 :</label>
                    <input type="text" name="gender" placeholder="여성" required>
                </div>
                <div class="form_row">
                    <label>이름 :</label>
                    <input type="text" name="name" placeholder="김야옹" required>
                </div>
                <div class="form_row">
                    <label>학과 :</label>
                    <input type="text" name="major" placeholder="기계자동차학과" required>
                </div>
                <div class="form_row">
                    <label>학번(나이) :</label>
                    <input id="ageInput" type="text" name="studentID_age" placeholder="23(21)" required>
                </div>
                <div class="form_row">
                    <label>MBTI :</label>
                    <input type="text" name="mbti" placeholder="intj" required>
                </div>
                <div class="form_row">
                    <label>취미 :</label>
                    <input type="text" name="hobbies" placeholder="축구, OTT" required>
                </div>
                <div class="form_row">
                    <label>연락처 :</label>
                    <input type="text" name="contact" placeholder="insta_id01" required>
                </div>
            </div>
        </form>
        <div class="card_UX">
            <div class="card_UX-topContainer">
                <div class="color-container">
                    <button class="color c1" data-src="../static/assets/card_gray.svg" data-mobile="../static/assets/card_gray-mobile.svg"></button>
                    <button class="color c2" data-src="../static/assets/card_pink.svg" data-mobile="../static/assets/card_pink-mobile.svg"></button>
                    <button class="color c3" data-src="../static/assets/card_orange.svg" data-mobile="../static/assets/card_orange-mobile.svg"></button>
                    <button class="color c4" data-src="../static/assets/card_yellow.svg" data-mobile="../static/assets/card_yellow-mobile.svg"></button>
                    <button class="color c5" data-src="../static/assets/card_green.svg" data-mobile="../static/assets/card_green-mobile.svg"></button>
                    <button class="color c6" data-src="../static/assets/card_blue.svg" data-mobile="../static/assets/card_blue-mobile.svg"></button>
                    <button class="color c7" data-src="../static/assets/card_purple.svg" data-mobile="../static/assets/card_purple-mobile.svg"></button>
                    <button class="color c8" data-src="../static/assets/card_white.svg" data-mobile="../static/assets/card_white-mobile.svg"></button>
                </div>
                <button class="submitButton" type="submit">제출하기</button>
                <button class="formCheckButton">양식예시</button>
            </div>
            <hr>
            <div class="animalImg-container">
                <img src="../static/assets/1.cuteDog.png" alt="동물사진" class="animalImg img1">
                <img src="../static/assets/2.dengE.png" alt="동물사진" class="animalImg img2">
                <img src="../static/assets/3.husky.png" alt="동물사진" class="animalImg img3">
                <img src="../static/assets/4.cat.png" alt="동물사진" class="animalImg img4">
                <img src="../static/assets/5.hamster.png" alt="동물사진" class="animalImg img5">
                <img src="../static/assets/6.rabbit.png" alt="동물사진" class="animalImg img6">
                <img src="../static/assets/7.fox.png" alt="동물사진" class="animalImg img7">
                <img src="../static/assets/8.panda.png" alt="동물사진" class="animalImg img8">
                <img src="../static/assets/9.wolf.png" alt="동물사진" class="animalImg img9">
                <img src="../static/assets/10.lion.png" alt="동물사진" class="animalImg img10">
                <img src="../static/assets/11.tiger.png" alt="동물사진" class="animalImg img11">
                <img src="../static/assets/12.bear.png" alt="동물사진" class="animalImg img12">
                <img src="../static/assets/13.dragon.png" alt="동물사진" class="animalImg img13">
                <img src="../static/assets/14.horse.png" alt="동물사진" class="animalImg img14">
                <img src="../static/assets/15.Monkey.png" alt="동물사진" class="animalImg img15">
                <img src="../static/assets/16.turtle.png" alt="동물사진" class="animalImg img16">
            </div>
        </div>
        <div id="modal">
            <div class="modal-content">
              <div class="modal-title">※ 작성양식을 준수하세요! 정확히 기재하여야 추천서비스 이용시 올바른 명함이 제공됩니다.</div>
              <div class="modal-description">"1.성별(Gender): 남성(man)/여성(woman)<br><br>2.이름(Name): 자유롭게 기입(anything)<br><br>3.학과(Major): 학교에서 지정한 이름, 단 특수기호는 생략하고 붙여씁니다. 괄호는 허용합니다.<br>Name given by the school, but don't use special symbol and stick together. Parentheses are allowed.<br><br>4.학번(나이)(ClassNum(Age)): N(N)<br><br>5.mbti: 소문자로만(only lowercase)<br><br>6.취미(Hobby): 자유롭게 한 단어로쓰되 동사형X(only use keyword, The verb form is not allowed) ex)축구하기X<br><br>7.연락처(contact): 단 한개만(only one ID) instagramID, kakaoID, phone number etc";
            </div>
              <button class="modal-button">확인</button>
            </div>
          </div>
    </main>
    <footer id="contact" aria-label="information of rights and developer">
        <div class="max-container">
            <div class="contact-container">
                <div class="contact_rights-container">
                    <p>This website is copyrighted by © <strong>CHO LEE</strong>. <br>Image credits for non-design elements: <a href="https://kr.freepik.com/">Freepik</a>, <a href="https://www.svgrepo.com/">SVGrepo</a>, <a href="https://www.svgbackgrounds.com/">SVGbackgrounds</a>, other blogs.</p>
                    <p>Lead Designer: <strong>Seo-in LEE</strong></p>
                    <p>Lead Front-End Developers: <strong>Yu-chan CHO&Seo-in LEE</strong></p>
                    <p>Lead Back-End Developer: <strong>Yu-chan CHO</strong></p>
                </div>
                <div class="contact_rightPart-container">
                    <div class="contact__SNS-container">
                        <a href="../static/contact/blog.html" title="link to blog"><i class="fa-solid fa-blog"></i></a>
                        <a href="../static/contact/insta.html" title="link to instagram"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/digitalCard-date-service" title="link to github"><i class="fa-brands fa-github"></i></a>
                    </div>
                    <img class="contact_img" src="../static/assets/teamLogo.svg" alt="teamLogo">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
