/* color */
:root{
  --color-coral: #FF6F61;
  --color-peach: #FF8A80;
  --color-gray: #F5F5F5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-DifferentGray: #888888;
  --color-deepGray: #333;
  --color-light-pink: #ffe9f0;
  --color-hot-pink: #ff85a1;
  --color-soft-pink: #ffd9e8;
  --color-deep-pink: #ff577f;
  --color-primary: var(--color-white);
  --color-primary-variant:var(--color-gray);
  --color-accent: var(--color-deep-pink);
  --color-accent-variant: var(--color-hot-pink);
  --color-text-variant: var(--color-DifferentGray);
}

/* animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* common */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow-y: auto; 
  scroll-behavior: smooth; 
}

/* left section */
.left-wrap {
  flex: 1;
  background: linear-gradient(to bottom, var(--color-accent), var(--color-soft-pink));
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  animation: spin 2s ease-in-out forwards;
}

.welcome-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

/* right section */
.right-wrap {
  flex: 1;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container {
  width: 100%;
  max-width: 380px;
  background: var(--color-primary);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-accent-variant);
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.input-field label {
  font-size: 1.2rem;
  color: var(--color-deepGray);
  margin-bottom: 8px;
}

.input-field input {
  width: 95%;
  padding: 12px;
  border: 1px solid var(--color-deepGray);
  border-radius: 30px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  touch-action: manipulation;
}

.input-field input:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 8px var(--color-soft-pink);
  outline: none;
}

.btn {
  background-color: var(--color-accent-variant);
  color: var(--color-white);
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  touch-action: manipulation; 
  width: 20%;
  align-self: flex-end;
}

.btn:hover {
  background-color: var(--color-accent);
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(0); 
}

.check__container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.check-icon {
  font-size: 1.5rem;
  color: red;
}

.check__desc {
  font-size: 1.3rem;
  color: var(--color-deepGray);
  font-weight: 500;
}

/* responsive web */
@media (max-width: 834px) {
  .wrapper {
    flex-direction: column;
    height: auto;
  }

  .left-wrap {
    padding: 20px;
    text-align: center;
  }

  .logo {
    width: 60px;
  }

  .welcome-text {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .right-wrap {
    padding: 10px;
  }

  .login-container {
    padding: 15px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-title {
    font-size: 1.2rem;
  }

  .input-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  .input-field label {
    font-size: 1.2rem;
  }

  .input-field input {
    font-size: 0.8rem;
    padding: 10px;
    width: 100%;
  }

  .btn {
    font-size: 0.9rem;
    padding: 10px;
    width: 30%;
    align-self: auto;
  }
  .btn:active {
    background-color: var(--color-accent);
  }

  .check__desc {
    font-size: 1.5rem;
  }

  .check-icon {
    font-size: 1.5rem;
  }
}

