/* color */
:root{
    --color-coral: #FF6F61;
    --color-peach: #FF8A80;
    --color-gray: #F5F5F5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #feffbd;
    --color-DifferentGray: #888888;
    --color-light-pink: #ffe9f0;
    --color-hot-pink: #ff85a1;
    --color-soft-pink: #ffd9e8;
    --color-deep-pink: #ff577f;
    --color-primary: var(--color-white);
    --color-primary-variant:var(--color-gray);
    --color-accent: var(--color-deep-pink);
    --color-accent-variant: var(--color-hot-pink);
    --color-text-variant: var(--color-DifferentGray);
}

/* animation */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes blinkTextColor {
    0% {
        color: var(--color-accent-variant);
    }
    50% {
        color: var(--color-accent)
    }
    100% {
        color: var(--color-accent-variant)
    }
}

@keyframes glow {
  0% {
      box-shadow: 0 0 20px 5px rgba(255, 133, 161, 0.8), 
                  0 0 30px 5px rgba(255, 133, 161, 0.6), 
                  0 0 30px 8px rgba(255, 133, 161, 0.4);
  }
  50% {
      box-shadow: 0 0 15px 5px rgba(255, 133, 161, 0.9), 
                  0 0 25px 10px rgba(255, 133, 161, 0.7), 
                  0 0 35px 15px rgba(255, 133, 161, 0.5);
  }
  100% {
      box-shadow: 0 0 20px 8px rgba(255, 133, 161, 1), 
                  0 0 30px 15px rgba(255, 133, 161, 0.8), 
                  0 0 40px 23px rgba(255, 133, 161, 0.6);
  }
}


@keyframes flicker {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0.9;
  }
  75% {
      opacity: 0.95;
  }
}

/* common */
*{
    box-sizing: border-box;
  }
  
body, html{
    font-family: "Poppins", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

a {
    text-decoration: none;
  }

ul,p,h1,h2,h3{
    margin: 0;
  }

ul {
    list-style: none;
    padding: 0;
  }

button{
    background-color: transparent;
    outline: 0;
    border: 0;
  }

.max-container{
    max-width: 1300px;
    margin: auto; 
    @media(max-width: 834px){
      max-width: 834px;
    }
  }

html {
    scroll-behavior: smooth;
  }

  /* header */
#header{
    backdrop-filter: blur(2px);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }

.header__dev-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }
.header__img{
    width: 50px;
    height: 50px;
    padding: 3px;
  }

.header__title{
    font-size: 1.2rem;
    color: var(--color-black);
    text-align: center;
  }
  
.nav__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    @media (max-width: 834px) {
      display: none;
    }
  }

.nav__menu__item{
    font-weight: 300;
    transition: all 200ms ease-out;
    padding: 10px;
  }

.nav__menu__item:hover{
    transform: scale(1.3);
  }

.nav__menu__item a{
    color: var(--color-black);
  }

.nav__menu__item::after {
    content: '';
    display: inline-block;
    position: relative;
    width: 2px;
    height: 20px;
    left: 15px;
    top: 5px;
    background-color: var(--color-black);
  }

.nav__active{
    border-bottom: 2px solid var(--color-accent-variant);
  }

#main{
    width: 100%;
    @media (max-width: 834px){
        font-family: 'Noto Sans KR', sans-serif;
    }
  }

/* home */
#home{
    width: 100%;
    background-color: var(--color-primary);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../assets/home.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media(max-width: 834px){
      display: none;
    }
  }

.homeImg__Logo{
    margin-top: 100px;
    width: 300px;
    height: 300px;
    @media (max-width: 834px){
      margin-top: 50px;
      width: 100px;
      height: 100px;
    }
  }

.home__title{
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
    @media (max-width: 834px){
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  }

.home__desc{
    line-height: 40px;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    @media (max-width: 834px){
      font-size: 0.8rem;
      line-height: 30px;
    }
  }

.home__buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-bottom: 50px;
    @media (max-width: 834px){
      display: none; 
    }
  }

.home__contact, .home__nextStep{
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent-variant);
    border-radius: 5px;
    padding: 5px;
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
  }

  .home__contact:hover{
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent-variant);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }

  .home__nextStep:hover{
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent-variant);
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }

.home__nextStep:hover::after{
    display: block;
    content: "Go AD section"; 
    position: absolute;
    right: 20px; 
    transform: translateX(110%); 
    height: 15px;
    width: 100px; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
    line-height: 1.4;
    z-index: 100; 
  }

/* ad */
#ad{
    padding-top: 50px;
    width: 100%;
    background-color: var(--color-primary-variant);
    padding-bottom: 100px;
    @media (max-width: 834px){
      padding: 0;
      background-color: var(--color-primary);
    }
  }
.ad-container{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (max-width: 834px){
      margin-top: 0;
      gap: 10px;
      flex-direction: column;    
    }
  }

.ad__img{
    max-width: 650px;
    aspect-ratio: 650 / 450;
    @media(max-width: 834px){
      max-width: 500px;
    }
  }

.ad__desc-container{
    text-align: right;
    position: relative;
    line-height: 30px;
    @media (max-width: 834px){
      text-align: center;
      max-height: 500px;
    }
}

.ad__title{
    font-size: 3rem;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    @media (max-width: 834px){
      margin-top: 30px;
      visibility: hidden;
      
    }
  }
  @media (max-width: 834px){
    .ad__title::before{
      visibility: visible;
      display: block;
      font-style: italic;
      content: "온라인 명함소개팅";
      color: var(--color-deep-pink);
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 
      -2px -2px 5px rgba(255, 255, 255, 0.3);
      font-size: 2.9rem;
      animation: blinkTextColor 1s infinite;
    }
  }

.ad__title-em{
    animation: blinkTextColor 1s infinite;
    @media (max-width: 834px) {
      animation: none;
    }
  }

.ad__desc-kor{
    font-size: 1.2rem;
    margin-bottom: 40px;
    @media (max-width: 834px){
      visibility: hidden;
    }
  }

@media (max-width: 834px){
    .ad__desc-kor::before{
      visibility: visible;
      display: block;
      white-space: pre-wrap;
      content: "익명의 이성과 매칭되는 두근두근 명함소개팅\A온라인으로 더 간편하게!\A\A Exciting name card blind dating\Awith an anonymous match\AMore convenient online!\A\A.\A.\A.";
      font-size: 1.3rem;
    }
  }

.ad__desc-eng{
    font-size: 1.2rem;
    margin-bottom: 30px;
    @media (max-width: 834px) {
      display: none;
    }
  }


.ad__nextStep{
    margin-top: 50px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent-variant);
    border-radius: 5px;
    padding: 5px;
    color: var(--color-white); 
    transition: all 0.2s ease-in-out;
    @media(max-width: 834px){
      display: none;
    } 
  }

  .ad__nextStep:hover{
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent-variant);
    position: relative;
    top: -2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  }

.ad__nextStep:hover::after{
    display: block;
    text-align: center;
    content: "Go step1 section"; 
    position: absolute;
    right: 170px;
    top: 20px; 
    transform: translateX(110%); 
    width: 100px; 
    background-color: #333; 
    color: var(--color-white); 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
    line-height: 1.4;
    z-index: 100; 
  }

/* steps */
#step1{
    margin: 150px 0;
    width: 100%;
    background-color: var(--color-primary);
    @media (max-width: 834px) {
      max-height: 800px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFFAFA;
    }
}

#step2{
    background-color: var(--color-primary-variant);
    padding: 50px 0;
    width: 100%;
    @media (max-width: 834px){
      display: none;
    }
}

#step3{
   width: 100%;
   background-color: var(--color-primary);
   @media (max-width: 834px) {
     display: none;
   }
}

.step1-container, .step2-container, .step3-container{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.step2-container {
  margin: 100px 0;
}

.step3-container{
  margin-top: 50px;
}

.step1-container {
  margin-top: 50px;
  @media (max-width: 834px) {
    margin-top: 0;
    line-height: 35px;
  }
}

.step__text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.step__title{
    font-size: 3rem;
    margin-bottom: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    @media (max-width: 834px) {
      visibility: hidden;
    }
}

@media (max-width: 834px) {
  .step__title::before{
    visibility: visible;
    display: block;
    text-align: center;
    white-space: pre-wrap;
    content: "재학인증, 카드작성, 카드뽑기\A 3step으로 서비스 이용!";
    font-size: 1.8rem;
    padding-top: 20px;
    max-height: 50px;
  }
}

.step__img{
    max-width: 650px;
    aspect-ratio: 650/450;
    @media (max-width: 834px){
      display: none;
    }
}

.slide-down {
  animation: slideDown 3s ease-in-out forwards;
}

.step__desc-eng, .step__desc-kor{
    line-height: 45px;
    font-size: 1.2rem;
    margin-bottom: 40px;
    @media (max-width: 834px) {
      visibility: hidden;
    }
}

@media (max-width: 834px) {
  .step__desc-kor::before{
    visibility: visible;
    display: block;
    text-align: center;
    white-space: pre-wrap;
    content: "1. 재학인증(Accreditation): \A학교메일 인증코드 발송 \A Email code sent\A"
    "2. 명함작성(Card Writing): \A 7가지 항목 작성, 동물이미지 선택\A Fill 7 items, Select animal image\A"
    "3. 명함뽑기(Card Drawing): \A 랜덤 2장 또는 추천 1장 \A random or 1 recommended\A\A.\A.\A.";
    font-size: 1.3rem;
    padding-top: 20px;
    padding: 10px;
  }

  .step__desc-eng{
    display: none;
  }
}

.step1__content{
    text-align: left;
    @media (max-width: 834px){
      text-align: center;
    }
}

.step2__content{
    text-align: right;
}

.step3__content{
    text-align: left;
}

.step3__content .step__title{
    margin-top: 40px;
    @media (max-width: 834px){
      margin-top: 0;
    }
}

.nextStepButton1{
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent-variant);
    border-radius: 5px;
    padding: 5px;
    color: var(--color-white);
    position: relative;
    right: 280px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 834px){
      display: none;
    }
}

.nextStepButton1:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent-variant);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.nextStepButton1:hover::after{
    display: block;
    text-align: center;
    content: "Go step2 section"; 
    position: absolute;
    right: 20px;
    bottom: 20px;
    transform: translateX(110%); 
    width: 150px; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
    line-height: 1.4;
    z-index: 100; 
}

.nextStepButton2{
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent-variant);
    border-radius: 5px;
    padding: 5px;
    color: var(--color-white);
    position: relative;
    left: 270px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 834px){
      display: none;
    }
}

.nextStepButton2:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent-variant);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.nextStepButton2:hover::after{
    display: block;
    text-align: center;
    content: "Go step3 section"; 
    position: absolute;
    right: 230px;
    bottom: 20px; 
    transform: translateX(110%); 
    width: 150px; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
    line-height: 1.4;
}

.nextStepButton3{
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent-variant);
    border-radius: 5px;
    padding: 5px;
    color: var(--color-white);
    margin-bottom: 70px;
    position: relative;
    right: 285px;
    top: -15px;
    transition: all 0.2s ease-in-out;
    @media (max-width: 834px){
      display: none;
    }
}

.nextStepButton3:hover {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent-variant);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.nextStepButton3:hover::after{
    display: block;
    text-align: center;
    content: "Go start section"; 
    position: absolute;
    right: 20px; 
    bottom: 20px;
    transform: translateX(110%); 
    width: 100px; 
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
}

/* start */
#start{
    width: 100%;
    background-color: var(--color-primary-variant);
    padding: 170px;
    @media (max-width: 834px) {
      padding: 30px;
      background-color: var(--color-primary);
    }
}

.start-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media (max-width: 834px){
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

.start_fortuneCard-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start_card {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
  cursor: pointer;
  margin: 10px;
  transform-style: preserve-3d;
  transition: transform 1s;
  display: none; 
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--color-white); 
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  @media (max-width: 834px){
    width: 200px;
    height: 300px;
  }
}

.start_card.active {
  display: block; 
}

.start_card-front, .start_card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.start_card-front {
  background-image: url('../assets/fortuneCard.png');
  background-size: cover;
  background-position: center;
  transform: rotateY(0deg); 
  border-radius: 10px;
}

.start_card-back {
  text-align: center;
  transform: rotateY(180deg);
  background-color: var(--color-white);
  color: var(--color-accent);
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;

}

.start_cardButton {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--color-primary-variant); 
  color: var(--color-black); 
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  @media (max-width: 834px) {
    /* 모바일환경에서 클릭되지 않는 오류 수정 */
    z-index: 50;
    pointer-events: auto; 
  }
}

.start_cardButton:hover {
  background-color: var(--color-accent-variant); 
  color: var(--color-white);
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
  @media (max-width: 834px) {
    background-color: none;
    color: none;
    transform: none;
    box-shadow: none;
  }
}

.start_cardButton:active {
  transform: translateY(0); 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.start_nextStep-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.start_nextStep_desc {
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-style: italic;
  @media (max-width: 834px){
    visibility: hidden;
  }
}

@media (max-width: 834px) {
  .start_nextStep_desc::before {
    visibility: visible;
    display: block;
    text-align: center;
    white-space: pre-wrap;
    content: "자.. 이제 떠나볼까요..\A운명의 상대를 만나러!";
    font-size: 1.5rem;
    padding-top: 20px;
    padding: 10px;
  }
}

.start_nextStep {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 3rem;
  color: var(--color-accent);
  transform: translateY(-3px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.start_nextStep:hover {
  animation: glow 2s infinite alternate, flicker 0.1s infinite;
  @media (max-width: 834px) {
    animation: none;
  }
}

.start_nextStep:active{
  transform: none;
  box-shadow: none;
  animation: glow 2s infinite alternate, flicker 0.1s infinite;
}

@media (max-width: 834px) {
  .start_nextStep{
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .start_nextStep:active{
    transform: none;
    box-shadow: none;
  }
}

#arrow-up {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background-color: var(--color-accent-variant);
  color: var(--color-primary);
  border: 2px solid var(--color-accent);
  width: 60px;  
  height: 60px; 
  border-radius: 50%; 
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;            
  align-items: center;      
  justify-content: center;   
  font-size: 24px;
  opacity: 0.8;     
  @media (max-width: 834px) {
    font-size: 15px;
    width: 50px;
    height: 50px;
  }     
}

#arrow-up i {
  padding: 0; 
}

#arrow-up:hover {
  background-color: var(--color-accent);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2), 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  @media (max-width: 834px) {
    background-color: none;
    box-shadow: none;
    transform: none;
  }
}
#arrow-up:active {
  transform: translateY(1px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  @media (max-width: 834px) {
    background-color: var(--color-accent);
    transform: translateY(3px);
  }
}

/* contact */
#contact{
  background-color: var(--color-primary);
  color: var(--color-text-variant);
  @media (max-width:834px){
    background-color: #FFFAFA;
  }
}
.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 834px){
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}

.contact_rights-container{
  font-size: 0.8rem;
  @media (max-width: 834px) {
    font-size: 0.5rem;
  }
}

.contact_rightPart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__SNS-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact__SNS-container a{
  font-size: 50px;
  color: var(--color-DifferentGray);
}

.contact__SNS-container a:hover{
  color: var(--color-accent);
  @media (max-width: 834px){
    color: none;
  }
}

@media (max-width: 834px) {
  .contact__SNS-container a:active{
      color: var(--color-accent);
  }
}
           
.contact_img{
  object-fit: cover;
  width: 120px;
  height: 120px;
  opacity: 0.5;
  @media (max-width: 834px){
    display: none;
  }
}
  

  








